* {
  scroll-behavior: smooth;
}

.section {
  padding: 6rem 0 2rem;
}

a {
  text-decoration: none;
  color: unset !important;
}

.custom-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1000px;
  }
}

@media (max-width: 1200px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (max-width: 990px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .custom-container {
    max-width: 400px;
  }
}
